<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVAC APPOINTMENT</title>
    <style>
        body {
            text-align: center;
        }
        table {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1>IVAC APPOINTMENT</h1>
    <form action="/" method="POST">
        <label for="webfile">Webfile:</label>
        <input type="text" id="webfile" placeholder="BGDDxxxxxxxxx"name="webfile" required><br><br>
		<label for="webfile">name:</label>
        <input type="text" id="name" placeholder="File name"name="name" required><br><br>
        <label for="mobile">Mobile:</label>
        <input type="text" id="mobile" placeholder="01XXXXXXXXXXX" name="mobile" required><br><br>
		<label for="email">Email:</label>
        <input type="text" id="email" placeholder="XXXXXX" name="email" required><br><br>
		<label for="otp">otp:</label>
		<input type="text" id="otp" placeholder="XXXXXX" name="otp" required><br><br>
		<label for="slotid">slotid:</label>
        <input type="text" id="slotid" placeholder="XXXXXX" name="slotid" ><br><br>
        <button type="submit">Search</button>
    </form>
</body>
</html>
